#sentiment-indicator {
    z-index: 1000;
    display: block;
    position: fixed;
    vertical-align: middle;
    right: 0;
    top: 75px;
}

#sentiment-indicator .sentiment-btn-avg {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-width: 4px;
    border-style: solid;
    border-color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: -2px 0 2px black;
}

#sentiment-indicator .sentiment-btn-last {
    width: 15px;
    height: 15px;
    z-index: 1002;
    border-width: 1px;
    border-style: solid;
    border-color: white;
}

/*
#sentiment-indicator .sentiment-btn:hover,
#sentiment-indicator.sentiment-active .sentiment-btn {
    opacity: 1;
    width: 35px;
    height: 35px;
}
#sentiment .sentiment-btn img {
    margin: 2px;
}
 */